
.navbar {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 10px 0;
}

.mainnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-section {
    display: flex;
    align-items: center;
}

.nav h4 img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.act1 {
    color: black;
    text-decoration: none;
}

.act1.active {
    font-size: larger;
    color: navy;
    font-weight: bold;
    text-decoration: underline;
}

.nlink ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nlink ul li {
    margin-left: 20px;
}

.logo {
    display: none;
    font-size: 24px;
}

.drop-main {
    display: none;
    position: absolute;
    top:100px;
    left: 0;
    background-color: lightblue;
    animation: anim 0.2s ease-out forwards;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
}
@keyframes anim{
    from {
        max-height: 0;
        
    }
    to {
        max-height: 500px; 
     
    }}

.drop-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.drop-links ul li {
    margin: 10px 0;
}

@media screen and (max-width: 670px) {
    .navbar {
        padding: 10px 0;
    }

    .logo {
        display: block;
        cursor: pointer;
        margin-right: 10px;
    }

    .mainnav {
        flex-direction: row;
        align-items: center;
    }

    .nlink {
        display: none; 
        width: 100%;
    }

    .nlink.show-menu {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    .nlink ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nlink ul li {
        margin: 10px 0;
    }

    .drop-main {
        display: block; 
    }
}

