.works{
    background-color:white;
    height:100vh;
    color:black;
    width:100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.dates{
    display: flex;
    align-items: center;
    justify-content: center;
     padding:10px;
     background-color: white;
} 
